@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

html {
  margin: 0;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  font-family: Roboto;
  font-size: 16pt;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header,
footer {
  background-color: #111023;
  color: white;
  padding: 1em;
  flex-grow: 1;
}
#two {
  flex-grow: 9;
  display: flex;
  position: relative;
}
#nav {
  background-color: #c22177;
  color: white;
  flex-grow: 1;
  padding: 1em;
}
#aside {
  background-color: #320388;
  color: white;
  flex-grow: 1;
  padding: 1em;
}
#article {
  background-color: white;
  flex-grow: 6;
  padding: 1em;
}
footer {
  height: 10%;
}
/*responsiveness*/
@media screen and (max-width: 975px) {
  #nav {
    position: absolute;
    top: 0;
    width: 95%;
  }
  #aside {
    padding-top: 3.5em;
  }
  #article {
    padding-top: 3.5em;
  }
}
/*More responsiveness!!!!*/
@media screen and (max-width: 700px) {
  #two {
    flex-direction: column;
  }
  #article {
    flex-grow: 9;
  }
  #aside {
    padding-top: 1em;
  }
}
